@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

#background {
  background-size: cover;
  width: 100%;
  height: 100vh;
  background-position: 50% 50%;
}

.nav {
  display:flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid white;
  width: 100%;
  background-color: $base;
  color: white;
  position: sticky;
  top: 0;
  overflow: visible;

    h1 {
      color: #F4F4F4;
      font-family: 'Yellowtail', cursive;
      padding: 8px;
      margin: 0;

    }
}


.banner {
  width: 100%;
  margin-bottom: 1rem;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
  margin: 2rem;
  grid-gap: 2rem;
}

#search-form {
  font-size: 28px;
  display: flex;
  align-items: center;
  margin-top: 4px;
  margin-right: 2rem;
}

#image-upload {
  font-size: 32px;

}

.upload-photo {
  // border: 1px solid #d3d3d3;
  border-radius: 8px;
  padding: 8px 16px;
  cursor: pointer;
  font-weight: 500;
  background: #1b56b7;
  border-radius: 2px;
  color: $light-gray;
}
